<div class="full">
    <br>
    <div class="title">
        <span style="font-size:20.0pt">{{'informacion'|translate}}</span>
        <mat-divider></mat-divider>
        <div class="info">
            <mat-icon>date_range</mat-icon> 04/10/1998
            <mat-icon style="margin-left: 5px;">room</mat-icon> Concepción Del Uruguay, ER - Argentina
        </div>
    </div>
    <div class="container">
        <mat-card class="card"></mat-card>
        <mat-card class="card"></mat-card>
    </div>
    <div class="container">
        <mat-card class="card"></mat-card>
        <mat-card class="card"></mat-card>
    </div>
</div>

