<div class="full">
    <br>
    <div class="title">
        <span style="font-size:20.0pt">{{'informacion'|translate}}</span>
        <mat-divider></mat-divider>
        <div class="info">
            <mat-icon>date_range</mat-icon> 04/10/1998
            <mat-icon style="margin-left: 5px;">room</mat-icon> Concepción Del Uruguay, ER - Argentina
        </div>
    </div>
    <div class="container">
        <!-- experiencia -->
        <mat-card class="card">
                <mat-card-header>
                  <mat-card-title style="font-size: 18.0pt; margin-bottom: 5px;">{{'experiencia' | translate}}</mat-card-title>                  
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content style="margin-top: 5px;"> 
                    <mat-card-title>{{'exp3' | translate}}</mat-card-title>
                    <mat-card-subtitle>Arquant SA</mat-card-subtitle>
                    <mat-card-title>{{'exp1' | translate}}</mat-card-title>
                    <mat-card-subtitle>ITsynch SRL</mat-card-subtitle>
                    <mat-card-title>{{'exp2' | translate}}</mat-card-title>                    
                    <a href="https://sa-e.github.io/generador-facturas/" target="blank">                          
                    <mat-card-subtitle><li> {{'pag1' | translate}}</li></mat-card-subtitle></a>
                    <a href="https://sa-e.github.io/agustinaalonso/" target="blank">
                    <mat-card-subtitle><li>AAA CV</li></mat-card-subtitle></a>
                    <a href="https://sa-e.github.io/lodemarta/" target="blank">
                        <mat-card-subtitle><li>"Lo de Marta"</li></mat-card-subtitle></a>
                </mat-card-content>              
        </mat-card>

        <!-- estudios -->
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title style="font-size: 18.0pt; margin-bottom: 5px;">{{'estudios' | translate}}</mat-card-title>                  
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content style="margin-top: 5px;"> 
                <mat-card-title>{{'est1' | translate}}</mat-card-title>
                <mat-card-subtitle>UTN-FRCU Concepción del Uruguay, ER.
                </mat-card-subtitle>
                <mat-card-title>{{'est2' | translate}}
                    </mat-card-title>
                <mat-card-subtitle>Inst. “Malvina Seguí de Clavarino”
                    Gualeguaychú, ER.
                    </mat-card-subtitle>
            </mat-card-content>              
        </mat-card>

    </div>
    <div class="container">
        <!-- habilidades -->
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title style="font-size: 18.0pt; margin-bottom: 5px;">{{'habilidades' | translate}}</mat-card-title>                  
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content style="margin-top: 5px;"> 
                <mat-card-subtitle>HTML - NODE - JAVASCRIPT - TYPESCRIPT - CSS - SCSS
                    - ANGULAR - IONIC - VUE - VUETIFY</mat-card-subtitle>
                <mat-card-subtitle>.NET - SQL - JAVA - C# - PYTHON - KUBERNETES - KNATIVE - DOCKER</mat-card-subtitle>
                <mat-card-subtitle>MICROSOFT OFFICE - SCRUM - GIT</mat-card-subtitle>
            </mat-card-content>              
        </mat-card>

        <!-- idiomas -->
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title style="font-size: 20.0pt; margin-bottom: 5px;">{{'idiomas' | translate}}</mat-card-title>                  
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content style="margin-top: 5px;"> 
                <mat-card-title>{{'español' | translate}}</mat-card-title>
                <mat-card-subtitle>{{'nativo' | translate}}</mat-card-subtitle>
                <mat-card-title>{{'ingles' | translate}}</mat-card-title>
                <mat-card-subtitle>{{'intermedio' | translate}}</mat-card-subtitle>
            </mat-card-content>              
        </mat-card>
    </div>
</div>

