.background{
    background-image: url(https://raw.githubusercontent.com/sa-e/santiagoemens1/master/img/fondo.981ecf14.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover; 
    height: 93.2%;
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.img{
    display: flex;
    width: 340px;
    height: 340px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30%;
    margin-bottom: 14%;
}

.title{
    text-align: center;
}

.button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}