<div class="background">
        <div>
        <div class="img">
            <img src="https://raw.githubusercontent.com/sa-e/santiagoemens1/master/img/perfil.4fe8786b.png">
        </div>
        <div class="title">
            <h1 style="color:white; font-size:34.0pt; margin-bottom: 30px;">Santiago Emens</h1>
            <span style="color:white; font-size:18.0pt">{{'subtitle'|translate}}</span>
        </div>
        <div class="button">
        <div>
        <button mat-stroked-button color="primary" (click)="goToCv()"> 
            <span style="color: aliceblue;"> Ver CV </span>          
            <mat-icon style="color: aliceblue;">account_circle</mat-icon>               
        </button>
        </div>
        </div> 
        </div>
</div>