.container{
    background-image: url(https://raw.githubusercontent.com/sa-e/santiagoemens1/master/img/fondo.981ecf14.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover; 
    height: 93.2%;
}