
<mat-toolbar color="primary"  class="toolbar">
    <button mat-button (click)="goToPrincipal()">
      <mat-icon>home</mat-icon>
    </button>|
    <button mat-button (click)="goToCv()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <mat-button-toggle-group class="toggle" appearance="legacy" #group="matButtonToggleGroup" [value]="lang" (change)="switchLang(group.value)">
      <mat-button-toggle value="en"><img class="img" src="https://cdn-icons-png.flaticon.com/512/197/197374.png"></mat-button-toggle>
      <mat-button-toggle value="es"><img class="img" src="https://cdn-icons-png.flaticon.com/512/197/197593.png"></mat-button-toggle>
    </mat-button-toggle-group>
</mat-toolbar>

<router-outlet></router-outlet>
