.example-spacer {
    flex: 1 1 auto;
  }

.toolbar{
  position: sticky;
  top: 0;
}

.img{
  width: 20px;
  height: 20px;
}

.toggle{
  height: 30px;
  align-items: center;
}

.mat-button-toggle-checked{
  background-color: black;
} 

.mat-button-toggle-checked{
  background-color: #303F9F;
} 
