.example-spacer {
    flex: 1 1 auto;
  }

.toolbar{
  position:fixed;
	z-index:1000;
	top:0;
  height: 56px;
}

.img{
  width: 20px;
  height: 20px;
}

.toggle{
  height: 30px;
  align-items: center;
}

.mat-button-toggle{
  width: 50px;
}
.mat-button-toggle-checked{
  background-color: #303F9F;
} 