
<mat-toolbar color="primary"  class="toolbar">
    <span>My Application</span>
    <span class="example-spacer"></span>
    <span>
      <select 
          class="form-control" 
          #selectedLang 
          (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" 
          [value]="language"
          [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>
